*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --orange : #FD6E0A;
    --sky: #00aeff;
    --pink: rgb(255, 0, 128);
    --green:rgb(0, 255, 85);
}
@keyframes rainbow {
    0%{color: #00aeff;}
    50%{color:#00f7ff}
    100%{color: #00aeff;}
  }
body{
    font-family: 'Ubuntu', sans-serif;
}


nav{ 
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav>ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
}
nav>h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}
nav span{
    color: var(--sky);
}
nav a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
nav a:hover{
    transition: ease-in-out;
    transition-duration: 300ms;
    color: rgb(145, 145, 145);
}
.btn-primary{
    color:white;
    font-size: 1rem;
    padding:0.8rem 1.4rem;
    background: var(--pink);
    border: none;
    border-radius: 0.4rem;
}
.btn-primary:hover{
    transition: ease-in-out;
    transition-duration: 300ms;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 119, 0.308), 0 6px 20px 0 rgba(255, 0, 106, 0.548);
}
.btn-secondary{
    color:var(--pink) ;
    font-size: 1rem;
    padding:0.8rem 1.4rem;
    border: 0.1rem solid var(--pink);
    border-radius: 0.5rem;
}
.btn-secondary:hover{
    transition: ease-in-out;
    transition-duration: 300ms;
    background: var(--pink);
    color: white;
}
.header{
    background: #00aeff1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner{
    text-align: left;
    margin: 0 4rem;
    width: max-content;
}
.banner button{
    margin-right: 1rem;
}
.header-greeting{
    font-size: 3rem;
}
.header-title{
    font-size: 4rem;
    color: var(--sky);
    animation-name:  rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.header p{
    color: #646464;
    margin: 1rem 0;
    width:70%;
}

.about{
    max-width: 1084px;
    background: #00aeff1f;
    margin: 5rem auto;
    padding: 5rem 8rem;
    text-align: justify;
}
.about h2{
    text-align: center;
}
.about-description{
    font-size: 1.2rem;
    color: #646464;
    margin-top: 3rem;
}
.info-container{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.info p{
    color: #646464;
    font-size: 1rem;
}
